* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.light-theme{
  --text-color: #FFF;
  --bg-color: #000;
}

.dark-theme{
  --text-color: #000;
  --bg-color: #FFF;
}

body {
  background-color: var(--text-color);
  color: var(--bg-color);
}